
<ion-view title="{{game.name}}">
  <ion-content has-header="true" padding="true">
  	<form  novalidate> 
	  	<div class="list">
		  <label class="item item-input item-select" ng-repeat="question in game.questions">
		    	<div class="input-label">
		      		{{question.question}}
		    	</div>
			    <select ng-model="game.prop1">
			      <option ng-repeat="answer in question.answers">{{answer.title}}</option>
			    </select>
		  </label>

		</div>
		{{game}}
		<button type="submit" class="button button-full button-positive">
	  		Let go play!
		</button>
	</form>
  </ion-content>
</ion-view>
