
<ion-view title="{{game.name}}">
  <ion-content has-header="true" padding="true">
  	<form  name="answerForm"> 
	  	<div class="list">
		  <label class="item item-input item-select" ng-repeat="question in game.questions">
		    	<div class="input-label">
		      		{{question.question}}
		    	</div>
			    <select ng-model="answers[question.id]" ng-options="answer.title for answer in question.answers" required>
			      
			    </select>
		  </label>

		</div>
		
		{{answers}}
		<button ng-click="submitGameAnswers()" class="button button-full button-positive" ng-class="{'disabled': answerForm.$invalid}">
	  		Let go play!
		</button>
	</form>
  </ion-content>
</ion-view>
